<div class="container">

  <h1 class="text-center"> Pagos por categoria de vehiculo</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Categoria</th>
        <th>Pago por KM de Ida</th>
        <th>Pago por KM de regreso</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @vehicle_category_and_payments.each do |vehicle_category_and_payment| %>
        <tr>
          <td><%= vehicle_category_and_payment.category %></td>
          <td><%= vehicle_category_and_payment.payment_per_km %></td>
          <td><%= vehicle_category_and_payment.payment_per_return_km %></td>
          <td><%= link_to 'Show', vehicle_category_and_payment %></td>
          <td><%= link_to 'Edit', edit_vehicle_category_and_payment_path(vehicle_category_and_payment) %></td>
          <td><%= link_to 'Destroy', vehicle_category_and_payment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Agregar categoria de pago', new_vehicle_category_and_payment_path %>
</div>
