<p id="notice"><%= notice %></p>

<p>
  <strong>Origen:</strong>
  <%= @route.origin %>
</p>

<p>
  <strong>Destino:</strong>
  <%= @route.destination %>
</p>

<p>
  <strong>Distancia:</strong>
  <%= @route.distance %>
</p>

<p>
  <strong>Casetas_4_ejes:</strong>
  <%= @route.tollbooths_2_to_4_edges %>
</p>

<p>
  <strong>Casetas_6_ejes:</strong>
  <%= @route.tollbooths_5_to_6_edges %>
</p>

<p>
  <strong>Days:</strong>
  <%= @route.days %>
</p>

<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
