<%= form_with(model: vehicle, local: true) do |form| %>
  <% if vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

      <ul>
      <% vehicle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ECO %>
    <%= form.text_field :economic %>
  </div>
  <div class="field">
    <%= form.label :MARCA %>
    <%= form.text_field :brand %>
  </div>

  <div class="field">
    <%= form.label :TIPO %>
    <%= form.text_field :vehicle_type %>
  </div>

  <div class="field">
    <%= form.label :AÑO %>
    <%= form.number_field :year %>
  </div>
  <div class="field">
    <%= form.label :Rendimiento%>
    <%= form.number_field :performance_km_fuel %>
  </div>

  <div class="field">
    <%= form.label :EJES %>
    <%= form.select :edges, %w[2 3 4 5 6] %>
  </div>
  <div class="field">
    <%= form.label :PAGO_POR_CATEGORIA_DE_VEHICULO %>
    <%= form.select :vehicle_category_and_payment_id, VehicleCategoryAndPayment.all.collect{ |v| [v.category, v.id] } %>
  </div>

  <div class="field">
    <%= form.label :license_plate, 'Placas' %>
    <%= form.text_field :license_plate %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
