<p id="notice"><%= notice %></p>

<h1>Parque Vehicular</h1>

<table>
  <thead>
    <tr>

      <th>ECO</th>
      <th>MARCA</th>
      <th>TIPO</th>
      <th>AÑO</th>
      <th>Rendimiento KM/COMB</th>
      <th>PAGO DE VEHICULO POR CATEGORIA</th>
      <th>NUMERO DE EJES</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @vehicles.each do |vehicle| %>
      <tr>
        <td><%= vehicle.economic %></td>
        <td><%= vehicle.brand %></td>
        <td><%= vehicle.vehicle_type %></td>
        <td><%= vehicle.year %></td>
        <td><%= vehicle.performance_km_fuel %></td>
        <td><%= vehicle.vehicle_category_and_payment %></td>
        <td><%= vehicle.edges %></td>
        <td><%= link_to 'Ver', vehicle %></td>
        <td><%= link_to 'Editar', edit_vehicle_path(vehicle) %></td>
        <td><%= link_to 'Eliminar', vehicle, method: :delete, data: { confirm: 'Esta seguro de desear eliminar un vehiculo?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Agregar Vehiculo', new_vehicle_path %>
